body {
    height:100vh;
    display:flex;
    flex-direction:column;
}

.jumbotron{
    background: none;
}

.box-shadow{
    box-shadow: 5px 2px 10px rgba(0,0,0,0.2)
}

/*sticky footer*/
html {
height:100%;
}

.content{
    flex:1 0 auto;
}