
@{
    Layout = "_Layout";
}


<div class="container">
    <h1 class="h1">All Books</h1>
    
    <div class="row">
        @{
            int[] threeItems = { 1, 2, 3,4,5,6,7 };
            foreach (var item in threeItems)
            {
                <div class="col-sm-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/images/samraddhi.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                                </div>
                                <small class="text-muted">Author name</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>